<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Idade</td>
      <td>Perfil</td>
      <td>Ação</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of listaUsuarios$ | async">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.idade }}</td>
      <td>{{ usuario.perfil }}</td>
      <td>
        <button class="btn btn-primary" (click)="editar(usuario.id)">Editar</button>
      </td>
    </tr>
  </tbody>
</table>
